/* Global variables */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-background: #f8f7f7;
  --main-duration: 0.5s;
}
/* End G V  */
/* Global styles  */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
p {
  margin: 0;
  display: inline-block;
  text-align: center;
}
h3 {
  margin: 0;
  text-align: center;
}
.container {
  padding: 20px 20px 80px;
}
i {
  text-align: center;
  width: 20px;
}
/* End global styles  */

/* header styles  */
header {
  width: min(1200px, 100%);
  margin: auto;
}
header .container {
  padding: 0px 20px;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}
header img {
  width: 70px;
  height: 35px;
}
header nav {
  position: relative;
}
header nav .menu-icon {
  width: 40px;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
header nav .menu-icon span {
  width: 30px;
  height: 1px;
  background-color: #222;
  margin-bottom: 5px;
  transition: var(--main-duration);
}
header nav:hover span:first-child {
  width: 20px;
}
header nav:hover span:nth-child(2) {
  width: 25px;
}
header nav ul {
  position: absolute;
  width: 200px;
  padding: 0px;
  display: none;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style-type: none;
  background-color: #e4e4e4;
  top: 25px;
  right: 0px;
  transition: var(--main-duration);
  z-index: 2;
}
header nav ul::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border: 10px solid;
  border-color: transparent transparent #cccccc transparent;
  top: -20px;
  right: 0px;
}
header nav:hover ul {
  display: flex;
}
nav li {
  width: 100%;
  padding: 20px;
  border-bottom: 2px solid var(--main-color);
  transition: var(--main-duration);
}
nav li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(61, 61, 61);
  font-size: 20px;
  width: 80%;
  transition: var(--main-duration);
}
nav li:hover a {
  transform: translate(10px);
  color: rgb(54, 54, 54);
  text-shadow: var(--main-color) 1px 0px 5px;
}

/* Landscape styles  */

.landscape {
  background: no-repeat url(../images/pexels-pixabay-355770.jpg);
  background-size: cover;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landscape .container {
  text-align: center;
  position: absolute;
  width: 350px;
  padding: 20px;
  z-index: 1;
}
h1 {
  margin: 0;
  display: inline-block;
  font-size: 50px;
  line-height: 70px;
  color: var(--main-color);
}

/* Features styles */
.features {
  background-color: var(--section-background);
}
.container {
  padding: 80px 20px;
  width: min(1500px, 100%);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.feature {
  text-align: center;
  width: 270px;
  margin: 0px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature i {
  color: #10cab7;
  font-size: 50px;
}
.feature h3 {
  font-size: 20px;
  font-weight: 900;
  color: var(--secondary-color);
  text-align: center;
}
.feature p {
  font-size: 15px;
  font-weight: 200;
  color: #333;
  width: 200px;
  text-align: center;
}

/* It would be better to use grid system and use grid-c-t: repeat( auto-fill, minmax(300px,1fr) ) and grid-gap: 20px */
/* The section will be responsive automatically using grid */

/* Services styles */
.heading {
  width: min(100%, 900px);
}
.heading h2 {
  text-align: center;
  font-size: 70px;
  color: rgb(225, 229, 232);
  margin: 0 0 -25px 0;
}
.heading p {
  width: 300px;
  margin: 0px calc((100% - 300px) / 2);
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  color: #555;
}
.area {
  margin-top: 80px;
  width: min(100%, 900px);
  display: flex;
  justify-content: center;
}
.services-side {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.service {
  display: flex;
  justify-content: center;
  width: 250px;
  margin: 10px;
}
.service i {
  font-size: 35px;
  color: var(--main-color);
  height: 100%;
  margin: 0px 10px;
}
.service p {
  width: 200px;
  font-weight: 200;
  color: #666;
}
.side-image {
  width: 75%;
  position: relative;
}

/* media queries  */

/* Medium and small */
@media (max-width: 992px) {
  .side-image {
    display: none;
    width: 0%;
  }
  .service {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/* end media  */
.contact {
  background-color: var(--section-background);
}
.side-image img {
  position: absolute;
  width: 200px;
  z-index: 1;
  top: 12%;
  right: 0;
}
.side-shape {
  position: absolute;
  height: 350px;
  width: 60px;
  background-color: var(--secondary-color);
  z-index: 0;
  right: -7%;
}

/* Portfolio styles */
.portfolio {
  background-color: var(--section-background);
}

.projects {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.project {
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.project img {
  width: 100%;
  height: 150px;
}
.project .description {
  background-color: #ffffff;
  padding: 10px;
}
.project p {
  color: #666;
  width: 200px;
  font-weight: 200;
}

/* About styles */

.side-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.side-description p {
  position: relative;
  width: min(500px, 100%);
  padding: 20px;
  transition: var(--main-duration);
}
.side-description p:last-child {
  color: #777;
}
.side-description p::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 1px;
  background-color: var(--main-color);
  left: 0%;
  bottom: 0%;
  transition: var(--main-duration);
}
.side-description p:hover::after {
  transform: translate(75%);
}
.side-description p:hover {
  transform: translate(-10px, -10px);
  background-color: #f4f4f4;
}
.about .side-image img {
  position: absolute;
  width: 200px;
  height: 100%;
  z-index: 1;
  top: 0%;
  left: 0%;
}
.about .side-shape {
  position: absolute;
  height: 350px;
  width: 60px;
  background-color: #e9e9e9;
  top: -25%;
  left: -7%;
}
.about .second {
  left: 40%;
  width: 150px;
  height: 300px;
  background-color: transparent;
  border-left: 60px solid var(--main-color);
  border-bottom: 60px solid var(--main-color);
}

@media (max-width: 991px) {
  .side-description {
    align-items: center;
  }
}

/* Contact styles */

.contact .area {
  flex-direction: column;
  align-items: center;
}
.contact .area p,
.contact .area a {
  margin: 5px;
  font-size: 35px;
  font-weight: bolder;
  color: var(--secondary-color);
  letter-spacing: -1px;
  text-align: center;
}
.contact .area a {
  color: var(--main-color);
  text-decoration: none;
  width: min(450px, 100%);
  font-size: 25px;
}
@media (max-width: 991px) {
  .contact .area a {
    font-size: 20px;
  }
}
.contact .area p:last-child {
  font-size: 15px;
  font-weight: 400;
}

/* Footer styles */
footer {
  height: 50px;
  width: 100%;
  background-color: #016b5f;
  display: flex;
  align-items: center;
}
footer .container {
  padding: 0;
}
